html, body {
    background-color: black;
    
    } 
    
    /* slider  */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
     
      li {
        list-style: none;
      }
      input[type="radio"] {
        display: none;
      }
      .js-slider {
        position: relative;
        width: 80%;
        height: 100vh;
        margin: 0 auto;
      }
      .js-slider_item {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 1rem 3rem;
        opacity: 0;
        visibility: hidden;
        transform-origin: right center;
        transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
        transition: all 1s ease,transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
      }
      #s-1:checked ~ .js-slider .js-slider_item.img-1,
      #s-2:checked ~ .js-slider .js-slider_item.img-2,
      #s-3:checked ~ .js-slider .js-slider_item.img-3 {
        opacity: 1;
        visibility: visible;
        transform-origin: left center;
        transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
      }
      .js-slider_img {
        width: 100%;
        height: 60%;
        position: relative;
        overflow: hidden;
      }
      .c-img-w-full {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translate3d(-50%, -50%, 0);
      }
      .c-img-h-full {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 100%;
        transform: translate3d(-50%, -50%, 0);
      }
      figcaption {
        display: block;
      }
      .wo-h3 {
        margin-top: 6rem;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #e60012;
    
    /* test bg for words on silder */
    display: inline-block;
        color: #eee;
        background-color: rgba(139,0,10,0.9);
        line-height: 1;
        padding: 0.5em 0.9em;
        margin-right: 0.5em;
        font-size: 1.4rem;
        font-weight: bold;
    }
      .c-label {
        display: inline-block;
        color: #eee;
        background-color: rgba(139,0,10,0.9);
        line-height: 1;
        padding: 0.5em 0.9em;
        margin-right: 0.5em;
        font-size: 1.4rem;
        font-weight: bold;
      }
      .view-sm {
        display: none;
      }
      .js-slider_nav {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translate3d(0, -50%, 0);
      }
      .js-slider_nav_item.prev {
        left: 0;
      }
      .js-slider_nav_item.next {
        right: 0;
        transform: rotateY(180deg);
      }
      .js-slider_nav_item {
        position: absolute;
        display: none;
        width: 4rem;
        height: 4rem;
        border: 1px solid #e60012;
        border-radius: 50%;
        cursor: pointer;
        transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      .js-slider_nav_item:before {
        content: "";
        display: block;
        position: absolute;
        left: 1rem;
        top: 55%;
        width: 1rem;
        height: 1px;
        background-color: #e60012;
        transform-origin: left bottom;
        transform: translate3d(0, -50%, 0) rotate(-45deg);
        transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      .js-slider_nav_item:hover {
         transform: translate3d(-30%, 0, 0);
      }
      .js-slider_nav_item.next:hover {
         transform: rotateY(180deg) translate3d(-30%, 0, 0);
      }
      .js-slider_nav_item:hover:before {
        transform: translate3d(0, -50%, 0) rotate(-30deg);
      }
      .js-slider_nav_item:after {
        content: "";
        position: absolute;
        top: 55%;
        left: 50%;
        width: 2rem;
        height: 1px;
        background-color: #e60012;
        transform: translate3d(-50%, -50%, 0);
      }  
      #s-1:checked ~ .js-slider .js-slider_nav .s-nav-1,
      #s-2:checked ~ .js-slider .js-slider_nav .s-nav-2,
      #s-3:checked ~ .js-slider .js-slider_nav .s-nav-3 {
        display: block;
      }
      .js-slider_indicator {
        position: absolute;
        left: 0;
        top: 63%;
        width: 100%;
        text-align: center;
      }
      .js-slider-indi {
        position: relative;
        display: inline-block;
        padding: 2rem;
        cursor: pointer;
      }
      .js-slider-indi:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        background: #e60012;
        transform: translate3d(-50%, -50%, 0);
      }
      .js-slider-indi:hover:after {
        transform: translate3d(-50%, -50%, 0) scale(1.5);
        transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      #s-1:checked ~ .js-slider .js-slider_indicator .indi-1:after,
      #s-2:checked ~ .js-slider .js-slider_indicator .indi-2:after,
      #s-3:checked ~ .js-slider .js-slider_indicator .indi-3:after {
        transform: translate3d(-50%, -50%, 0) scale(2.5);
      }
    
    /* silder postion  */
    .dent {
    position: relative;
    padding-top: 0.5%;
    }
    
    /* .list-group {
    background-image: url("https://images.unsplash.com/photo-1453413453658-27fec8f43f29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    } */
    
    /* h1 codeman */
    .codeman {
    font-weight: lighter;
       color: grey;
        
      margin-left: 43%;
     
    }
    
    /* skills  */
    
    .skills{
    
    padding-left: 7%;
    float: left;
    padding-bottom: 5%;
      margin: 0%;
    
    
    }
    
    /* zoom test  */
    * {
      box-sizing: border-box;
    }
    
    .zoom {
      padding: 0px;
      /* background-color: green; */
      transition: transform .2s;
      /* width: 200px; */
      /* height: 200px; */
      /* margin: 0 auto; */
    }
    
    .zoom:hover {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5); 
    }
    
    /* jumbotron  */
    .display-3 {
    
    padding-left: 30%;
    
    }
    
    .lead {
    
      padding-left: 30%;
    }
    div.jumbotron {
      background: rgb(254,254,254);
    background: -moz-radial-gradient(circle, rgba(254,254,254,0.9895308465182948) 79%, rgba(0,0,0,0.9895308465182948) 100%);
    background: -webkit-radial-gradient(circle, rgba(254,254,254,0.9895308465182948) 79%, rgba(0,0,0,0.9895308465182948) 100%);
    background: radial-gradient(circle, rgba(254,254,254,0.9895308465182948) 79%, rgba(0,0,0,0.9895308465182948) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefefe",endColorstr="#000000",GradientType=1);
    }
    
    div.jumbotrontwo {
    background-image: url("https://i.pinimg.com/originals/50/3b/86/503b86a1b846d3bae9fe53dcded204ba.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 20%;
    }
    
    /* soft skills  */
    .soft {
    
      padding-left: 40%;
      float: left;
      padding-bottom: 5%;
        margin: 1%;
    
    
    }
    
    /* smooth scroll  */
    #section1 {
      height: 0px;
      
    }
    
    #section2 {
      height: 0px;
    
    }
    
    html {
      scroll-behavior: smooth;
    }